html, body {
    height: 100%;
}

body {
    background: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.container, .container > div {
    height: 100%;
}

#main-container {
    height: 100%;
}

#main_text_output_msg_wrapper {
    border: 1px solid #333;
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #fff;
    font-size: 13px;
    overflow: auto;
    padding: 5px 10px;
    width: 100%;
}

textarea, input {
    font-family: monospace;
}

#map {
    width: 30%;
}

#sandbox-buttons {
    width: 160px;
}

iframe {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
