html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.left-column {
    width: 70%;
    padding-bottom: 50px;
}

.right-column {
    width: 30%;
}

.game-screen {
    flex-grow: 1;
}

#main_text_output_msg_wrapper {
    font-family: monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #fff;
    font-size: 13px;
    overflow: auto;
    padding: 5px 10px;
    width: 100%;
    scrollbar-gutter: stable;
}

textarea, input {
    font-family: monospace;
}

.right-column {
    width: 35%;
}


#sandbox-buttons button {
    width: 32%;
}

iframe {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 1px;
}

.gmcp-event {
    padding: 10px 15px;
    margin: 2px 0;
    position: relative;
    border: 1px dashed #666;
    font-size: 12px;
}

.gmcp-event::after {
    content: "GMCP";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #555;
    color: #fff;
    font-size: 10px;
    padding: 2px 4px;
    border-bottom-left-radius: 3px;
    line-height: 1;
}

.gmcp-msg {
    padding: 5px;
    margin: 2px 0;
    position: relative;
}

.gmcp-msg::after {
    content: attr(data-gmcp-type);
    position: absolute;
    top: 0;
    right: 0;
    background-color: #555;
    color: #fff;
    font-size: 10px;
    padding: 2px 4px;
    border-bottom-left-radius: 3px;
    line-height: 1;
}

#panel_buttons_bottom {
    height: 25px;
    margin-top: 5px;
}